ion-content{
    font-family: 'Abyssinica SIL', serif;

    font-family: 'Roboto', sans-serif;
}

.lista{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}

.lista .card{
    display: flex;
    align-items: center;
    gap: 16px;
}

.lista .link{
    cursor: pointer;
}

.card img{
    height: 32px;
}

.card p{
    margin: 0;
    padding: 0;
    color: var(--colorPrimary);
}

.linea{
    margin: 0;
    background-color: rgba(128, 128, 128, 0.121);
}


.selector{
    display: flex;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    gap: 8px;
}

.selector p{
    margin: 0;
    padding: 0;
    color: #023AFF;
}


.iconos{
    display: flex;
    align-items: center;
    gap: 22px;
    padding: 12px 24px;
}


@media(min-width:391px){
    .img-keyboard{
        width: 100%;
    }

    ion-modal::part(content){
        height: 77.5%;
        width: 80%;
    }

    //para el .modal-shadow
    ion-modal{
        // .modal-shadow{
        //     height: 62% !important;
        // }
    
        --max-height: 77.5% !important;
        --max-width: 80% !important;
    }
}





.main{
    background-color: var(--bg);
}

//quitar el borde superior
ion-header{
    display: inline;
}

//darle un borde superior al modal
ion-content{
    border-top: 1px solid #EEEEEE;
}

// //darle un borde superior al modal//para dark
// ion-content{
//     border-top: 0.5px solid #1B1F3C;
// }


//quitar el fondo oscuro 
ion-modal {
    --backdrop-opacity: var(--ion-backdrop-opacity, 0);
}

//quitar el el boton por defecto del sheet modal en la parte de arriba
ion-modal::part(handle){
    display: none;
  }


.svg1{
    background-color: var(--svgBg);
    -webkit-mask: url(/assets/iconos-comentario/Bold.svg);
    mask: url(/assets/iconos-comentario/Bold.svg);
    height: 20px;
}

.svg2{
    background-color: var(--svgBg);
    -webkit-mask: url(/assets/iconos-comentario/Cursiva.svg);
    mask: url(/assets/iconos-comentario/Cursiva.svg);
    height: 20px;
}
.svg3{
    background-color: var(--svgBg);
    -webkit-mask: url(/assets/iconos-comentario/Image.svg);
    mask: url(/assets/iconos-comentario/Image.svg);
    height: 20px;
}
.svg4{
    background-color: var(--svgBg);
    -webkit-mask: url(/assets/iconos-comentario/Camera.svg);
    mask: url(/assets/iconos-comentario/Camera.svg);
    height: 20px;
}
.svg5{
    background-color: var(--svgBg);
    -webkit-mask: url(/assets/iconos-comentario/arrobaSinFondo.svg);
    mask: url(/assets/iconos-comentario/arrobaSinFondo.svg);
    height: 20px;
}

.svg6{
    background-color: var(--svgBg);
    -webkit-mask: url(/assets/iconos-comentario/clip.svg);
    mask: url(/assets/iconos-comentario/clip.svg);
    height: 20px;
}

.svg7{
    background-color: var(--svgBg);
    -webkit-mask: url(/assets/iconos-comentario/clip.svg);
    mask: url(/assets/iconos-comentario/clip.svg);
    height: 20px;
}

.svg8{
    background-color: var(--svgBg);
    -webkit-mask: url(/assets/iconos-comentario/clip.svg);
    mask: url(/assets/iconos-comentario/clip.svg);
    height: 20px;
}






  