

ion-content{
    font-family: 'Abyssinica SIL', serif;

    font-family: 'Roboto', sans-serif;
}

ion-content p{
    line-height: 24px;
}

//agregarle radio al header
ion-toolbar {
    --color: #ffffff;
    --background: var(--bg);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


ion-buttons,ion-button{
    margin: 0;
}

ion-buttons p{
    color: gray;
    padding: 0;
    margin: 0;
    margin-left: 8px;
    font-size: 14px;
}

.b-start{
    margin-left: 6px;
    margin-top: 15px;
}

.b-end{
    margin-right: 7px;
    margin-top: 15px;
}

.contenedor-comentarios{
    display: flex;
    flex-direction: column;
    gap: 30px;
}



.comentario-principal{
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.comentario-principal .autor{
    font-weight: bold;
}

.comentario-principal img{
    height: 24px;
}

.img-facturacion{
    display: flex;
    gap: 16px;
}

.img-facturacion img{
   height: 64px;
}

.comentario-principal-derecha{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.comentario-principal-derecha p{
    margin: 0;
}

.main{
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--bg);
}

footer{
    border-top: 0.5px solid #1B1F3C;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--bg);
}

footer p{
    margin: 0;
    padding-top: 24px;
    padding-left: 24px;
    padding-bottom: 40px;
    color: gray;
}

.time-comment{
    color: gray;
    font-size: 12px;
    margin-left: 5px;
}


.etiqueta-autor{
    background: rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    padding: 4px;
}

.etiqueta-autor-ge{
    background-color: #023AFF;
    border-radius: 20px;
    padding: 4px;
    color: white;
}

.response{
    color: gray;
}

//quitar el borde superior
ion-header{
    display: inline;
}

//quitar el el boton por defecto del sheet modal en la parte de arriba
ion-modal::part(handle){
    display: none;
  }


//para quitar el scroll
ion-content{
    --overflow: hidden;
}


/* SEGUNDO MODAL//SEGUNDO MODAL//SEGUNDO MODAL//SEGUNDO MODAL/SEGUNDO MODAL
//SEGUNDO MODAL//SEGUNDO MODAL//SEGUNDO MODAL//SEGUNDO MODAL/SEGUNDO MODAL*/
.main2{
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: var(--bg);
    border-top: 0.5px solid #1B1F3C;
}


.main2 p{
    margin: 0;
    padding: 0;
    margin-right: 24px;
    margin-left: 24px;
    margin-top: 24px;
    color: gray;
    cursor: pointer;
}

.main2 .iconos{
    display: flex;
    gap: 24px;
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 16px;
}

.main2 .iconos img{
    height: 20px;
}

.comentario-principal p{
    color: var(--colorPrimary);
    margin:0;
}



@media(min-width:391px){


    .modal2 .contenedor-img-keyboard img{
        width: 100%;
    }

    .modal2::part(content){
        margin-bottom: 200px;
    }

    

}



/* 
para el nuevo modal que aparece en el centro
*/
ion-modal {
    --height: 57%;
    --border-radius: 0px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
}



//responsive a tableta
@media(min-width:391px){
    .contenedor-comentarios{
        align-items: center;
        justify-content: center;
    }

    .comentario-principal{
        width: 333.2px;
    }

    ion-modal::part(content){
        width: 80%;
    }

    ion-modal{
        --max-width:80% !important;
    }

    //.modal-wrapper
    // ion-modal::part(content){
    //     height: 62%;
    // }

    //para el .modal-shadow
    // ion-modal{
    //     // .modal-shadow{
    //     //     height: 62% !important;
    //     // }
    
    //     --max-height: 62% !important;
    // }
}

@media(max-width:391px){
    //.modal-wrapper
    ion-modal::part(content){
        height: 91.5%;
        position: absolute;
        bottom: 0;
    }
}





  




