<ion-modal
  trigger="open-modal4"
  [initialBreakpoint]="0.69"
  [breakpoints]="[0, 0.25, 0.5, 0.75]"
  handleBehavior="none"
>
  <ng-template>
    <ion-content>
      <div class="lista-img">
        <img src="/assets/escribir-comentario/1.png">
        <img src="/assets/escribir-comentario/2.png">
        <img src="/assets/escribir-comentario/3.png">
      </div>
    
      <div class="main">
        <p><b>Esto es un bolt</b></p>
        <p><i>Texto Cursiva</i></p>
        <ul>
          <li>Lista 1</li>
          <li>Lista 2</li>
        </ul>
      </div>
    
      <div class="lista-iconos">
        <div class="iconos">
          <img src="/assets/iconos-comentario/Bold.svg" />
          <img src="/assets/iconos-comentario/Cursiva.svg" />
          <img src="/assets/iconos-comentario/listaSeleccionada.svg" />
          <img src="/assets/iconos-comentario/Image.svg" />
          <img src="/assets/iconos-comentario/Camera.svg" />
          <img src="/assets/iconos-comentario/arrobaSinFondo.svg" />
          <img src="/assets/iconos-comentario/clip.svg" />
          <img src="/assets/iconos-comentario/Send.svg" />
        </div>
      </div>
    
      <div>
        <img src="/assets/keyboard.png"/>
      </div>
    
    </ion-content>
    
    
    
  </ng-template>
</ion-modal>
