// Card contacto

.card-contacto {
    margin: 48px 24px 0 24px;
    display: flex;
    flex-direction: column;
  }
  
  .card-image {
    width: 64px;
    height: 64px;
  }
  
  .card-info {
    display: flex;
    flex-direction: column;
  }
  
  .card-info * {
    margin: 0;
    padding: 0;
  }
  
  .card-info .nombre {
    font-size: 24px;
    font-weight: 900;
    color: #000000;
    margin-top: 8px;
  }
  
  .card-info .telefono {
    font-size: 14px;
    color: #666666;
    margin-top: 2px;
  }
  
  .card-info .email {
    font-size: 14px;
    color: #666666;
    margin-top: 4px;
  }
  
  .card-info .usuario {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 8px;
    margin-top: 8px;
  
    img {
      width: 23px;
      height: 24px;
    }
    p {
      font-size: 16px;
      color: #666666;
    }
  }
  
  .card-info .etiquetas {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 8px;
  
    span {
      font-family: var(--font-roboto);
      color: #ffffff;
      font-size: 14px;
      padding: 2px 6px;
      border-radius: 4px;
    }
  }
  
  .card-info .etiquetas span:nth-child(1) {
    background-color: #3C66FB;
  }
  
  .card-info .etiquetas span:nth-child(2) {
    background-color: #F88078;
  }
  
  // Card Empresa y ventas
  .card-empresa-ventas {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #666666;
    margin: 48px 24px 0 24px;
  }
  
  .card-empresa-ventas .item-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    font-size: 10px;
    letter-spacing: 2px;
  
    .precio {
      text-align: right;
      flex: 1;
    }
  
    img {
      width: 20px;
      height: 20px;
    }
  }
  
  .card-empresa-ventas .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    font-size: 16px;
  
    .nombre {
      color: #000000;
      flex: 1;
    }
  
    .image {
      display: flex;
      width: 32px;
      height: 32px;
  
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
  
  // comentarios
  
  .card-comentarios {
    display: flex;
    flex-direction: column;
    margin: 48px 24px 0 24px;
    gap: 30px;
  }
  
  .card-comentarios .card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    p {
      font-size: 10px;
      letter-spacing: 2px;
    }
  
    img {
      width: 20px;
      height: 20px;
    }
  }
  
  .card-comentarios .card-comentario {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-weight: 400;
    line-height: 24px;
  
    .avatar {
      min-width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #EEEEEE;
  
      img {
        width: 32px;
        height: 32px;
      }
  
      p {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        font-size: 16px;
        color: #BDBDBD;
      }
    }
  
    .content {
      display: flex;
      flex-direction: column;
  
      h2 {
        font-size: 16px;
        color: #000000;
        margin: 0;
      }
  
      .comentario {
        display: flex;
        flex-direction: row;
        margin-top: 8px;
      }
  
      .tag {
        background-color: #EBEBEB;
        font-size: 16px;
        color: #000000;
        padding: 0px 8px;
        border-radius: 20px;
        margin-right: 5px;
        font-weight: 400;
      }
  
      .tiempo {
        font-size: 12px;
        color: #9E9E9E;
      }
  
      .responder {
        font-size: 16px;
        color: #666666;
        margin-top: 12px;
      }
    }
  }
  
  // Nivel de interes
  .card-niveldeinteres {
    margin: 48px 24px 0 24px;
    display: flex;
    flex-direction: column;
  }
  
  .card-niveldeinteres .card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    p {
      font-weight: 400;
      color: #00000099;
      font-size: 10px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  
    img {
      width: 20px;
      height: 20px;
    }
  }
  
  .card-niveldeinteres .card-item {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
  
    img {
      width: 78px;
    }
  
    .lista-nivel {
      flex: 1;
      align-items: flex-end;
      padding: 16px 17px 0 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 14px;
      font-size: 16px;
  
      li {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 18px;
        width: 100%;
  
        p {
          font-size: 16px;
          color: #9E9E9E;
          order: 1;
        }
  
        .radio {
          box-sizing: border-box;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          border: 1px solid #E0E0E0;
          margin: 2px;
        }
      }
    }
  }
  
  // Lista a las que perteneces
  .card-listaperteneces {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 48px 24px 102px 24px;
    font-weight: 400;
  }
  
  .card-listaperteneces .card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    p {
      font-weight: 400;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #666666;
    }
    img {
      width: 20px;
      height: 20px;
    }
  }
  
  .card-listaperteneces .card-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  
    .tag {
      display: flex;
      flex-direction: row;
      gap: 8px;
    }
  
    .description {
      font-size: 14px;
      color: #666666;
    }
  }
  
  // Footer
  .footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    border-top: 3px solid #F5F5F5;
  
    .sub-menu {
      display: flex;
      flex-direction: row;
      margin: 12px 16px 36px 16px;
  
      .button-arrow {
        width: 24px;
        height: 24px;
        border-right: 3px solid #EEEEEE;
      }
  
      p {
        color: #9E9E9E;
        margin-left: 21px;
        flex: 1;
      }
  
      .button-plus {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 72px;
        height: 24px;
  
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

#open-modal{
  margin: 0;
  margin-left: 20px;
}

ion-modal button{
  display: none;
}

ion-modal{
  --backdrop-opacity: var(--ion-backdrop-opacity,0);
}

ion-item{
  --padding-start: 15px;
  --padding-end: 30px;
}