<ion-modal trigger="open-modal3" [initialBreakpoint]="0.51" [breakpoints]="[0, 0.25, 0.5, 0.75]" handleBehavior="none">
  <ng-template>
    <ion-content>

      <div class="main">
        <div class="cont-seleccionado">
          <p class="seleccionado">Isaí Ortíz</p>
          <p class="signo">|</p>
        </div>

        <div class="lista-iconos">
          <div class="iconos">
            <div class="svg1">
              <img style="opacity: 0;" src="/assets/iconos-comentario/Bold.svg" />
            </div>
            <div class="svg2">
              <img style="opacity: 0;" src="/assets/iconos-comentario/Cursiva.svg" />
            </div>

            <img src="/assets/iconos-comentario/listaSeleccionada.svg" />

            <div class="svg3">
              <img style="opacity: 0;" src="/assets/iconos-comentario/Image.svg" />
            </div>
            <div class="svg4">
              <img style="opacity: 0;" src="/assets/iconos-comentario/Camera.svg" />
            </div>
            <div class="svg5">
              <img style="opacity: 0;" src="/assets/iconos-comentario/arrobaSinFondo.svg" />
            </div>
            <div class="svg6">
              <img style="opacity: 0;" src="/assets/iconos-comentario/clip.svg" />
            </div>

            <img src="/assets/iconos-comentario/Send.svg" />

          </div>
        </div>
      </div>

      <div>
        <img class="img-keyboard" *ngIf="esLight();else esDark" src="/assets/keyboard.png" />
        <ng-template #esDark>
          <img class="img-keyboard" src="/assets/keyboardDark.png" />
        </ng-template>
      </div>


    </ion-content>
  </ng-template>
</ion-modal>